<div class="main">
  <div class="mainBgCover"></div>
  <div class="header py-3">
    <div class="container ml-n2">
      <div class="d-flex flex-row">
        <img src="skin/images/dune-wallet-logo-alpha.png"/>
      </div>
    </div>
  </div>
  <div class="lrg-container">
    <h2 class="med-title">{{translate('restore_your_tezbox')}}</h2>
      <div  class="row text-center">
        <div class="col-md-8 offset-md-2">
          <p class="alert alert-danger"><i class="leftIcon fas fa-link"></i>
            <strong>Trying to import a hardware wallet? <a ng-click="link()">Please link it here!</a></strong>
            </p>
        </div>
      </div>

    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row text-center tabChoices">
          <div class="col-md-4">
            <a  ng-click="type = 'ico'" ng-class="type == 'ico' ? 'selected' : ''">{{translate('ico_fundraiser_wallet')}}</a>
          </div>
          <div class="col-md-4">
            <a ng-click="type = 'seed'" ng-class="type == 'seed' ? 'selected' : ''">{{translate('seed_phrase')}}</a>
          </div>
          <div class="col-md-4">
            <a  ng-click="type = 'private'" ng-class="type == 'private' ? 'selected' : ''">{{translate('private_key')}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-box">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div ng-show="type == 'ico'" class="row text-center">
            <div class="col-md-12">
              <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate('ico_fundraiser_wallet_info')}}</strong></p>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>{{translate('15_word_secret_key')}} <span style="color:red;">*</span></label>
                <textarea rows=2 class="text-center form-control" placeholder="" ng-model="seed"></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{translate('email')}} <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('email_tooltip')}}" tooltip></i></label>
                <input type="text" class="text-center form-control" ng-model="email" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{translate('password')}} <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('password_tooltip')}}" tooltip></i></label>
                <input type="password" class="text-center form-control" ng-model="ico_password">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{translate('public_key_hash')}}  <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('public_key_hash_tooltip')}}" tooltip></i></label>
                <input type="text" class="text-center form-control" ng-model="address" placeholder="dn...">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{translate('activation_code')}} <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('activation_code_tooltip')}}" tooltip></i></label>
                <input type="text" class="text-center form-control" ng-model="activation_code">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>{{translate('network')}}</label>
                <div class="row">
                  <div class="col-md-12">
                    <select ng-model="selected_network" ng-options="n.net_name for n in networks" class="form-control">
                    </select>

                  </div>
                </div>
              </div>
            </div>

          </div>
          <div ng-show="type == 'seed'" class="row text-center">
            <div class="col-md-12">
              <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate('seed_phrase_info')}}</strong></p>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>{{translate('seed_words_mnenomic')}} <span style="color:red;">*</span></label>
                <textarea rows=2 class="text-center form-control" ng-model="seed"></textarea>
              </div>
              <div class="form-group">
                <label>{{translate('optional_passphrase')}} <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('optional_passphrase_tooltip')}}" tooltip></i></label>
                <input type="password" class="text-center form-control" ng-model="passphrase">
              </div>
            </div>
          </div>
          <div ng-show="type == 'private'" class="row text-center">
            <div class="col-md-12">
              <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate('private_key_info')}}</strong></p>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>{{translate('private_key')}} <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('private_key_tooltip')}}" tooltip></i></label>
                <input type="password" class="text-center form-control" ng-model="private_key" placeholder="edsk/edesk...">
              </div>

              <div class="form-group" ng-show="isEdesk()">
                <label>{{translate('encryption_password')}} <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('encryption_password_tooltip')}}" tooltip></i></label>
                <input type="password" class="text-center form-control" ng-model="encryption_password" placeholder="">
              </div>
            </div>
          </div>
          <div class="row text-center mt-20">
            <div class="col-md-4 offset-md-2">
              <a ng-click="restore()" class="btn btn-primary btn-block">{{translate('restore_tezbox')}}</a>
            </div>
            <div class="col-md-4">
              <a ng-click="cancel()" class="btn btn-secondary btn-block">{{translate('cancel')}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
