<div class="main">
  <div class="no-container">
    <div class="row">
      <div class="col-10 offset-1 mb-5">
        <div class="mx-auto d-block">
          <img class="img-fluid" src="skin/images/dune-wallet-logo-alpha.png" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-2">
        <div class="row text-center">
          <div class="col-12 mb-3">
            <h3 class="sm-title">{{translate("welcome_back")}}</h3>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="exampleInputEmail1">{{translate('enter_password')}}</label>
							<form ng-submit="unlock()">
								<input autofocus autocomplete=false type="password" class="form-control" ng-model="password">
							</form>
            </div>
          </div>
          <div class="col-10 offset-1 mt-2">
            <a ng-click="unlock()" class="btn btn-primary btn-block">{{translate('unlock_wallet')}}</a>
          </div>
          <div class="col-10 offset-1 mt-2">
            <a ng-click="clear()">{{translate('clear_tezbox')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
